<!-- <app-left-nav-inventory></app-left-nav-inventory> -->

<!-- <form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Favorite food" value="Sushi">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Leave a comment"></textarea>
  </mat-form-field>
</form> -->
<!-- <table mat-table >
   <th mat-header-cell><tr><td>Id</td><td>Name</td><td>Author</td><td>Category</td><td>Price</td></tr></th>
<div *ngFor="let inventory of mockInventory">
    <tr>
      <td >{{inventory.bookId}}</td>
      <td >{{inventory.bookName}}</td>
      <td >{{inventory.authorName}}</td>
      <td >{{inventory.category}}</td>
      <td >{{inventory.bookPrice}}</td>
    </tr>
</div>
</table> -->
<div class="table">
<div class="example-container mat-elevation-z8">
	<div class="example-header">
		<mat-form-field>
			<input matInput #filter (keyup)="applyFilter($event.target.value)" placeholder="Filter">
			<button mat-icon-button matSuffix aria-label="clear" *ngIf="filter.value" (click)="filter.value=''; applyFilter('');">
        <mat-icon>close</mat-icon>
      </button>
		</mat-form-field>
	</div>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> Id </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.bookName}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="author">
    <th mat-header-cell *matHeaderCellDef> Author </th>
    <td mat-cell *matCellDef="let element"> {{element.authorName}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="category">
    <th mat-header-cell *matHeaderCellDef> Category </th>
    <td mat-cell *matCellDef="let element"> {{element.category}} </td>
  </ng-container>

  <!--price column-->
  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef> Price </th>
    <td mat-cell *matCellDef="let element"> {{element.bookPrice}} </td>
  </ng-container>

  <!-- <ng-container matColumnDef="price" >
    <mat-header-cell *matHeaderCellDef> Price </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <mat-form-field floatLabel="never" >
        <input matInput placeholder="Price" [value]="element.bookPrice" [(ngModel)]="element.bookPrice">
      </mat-form-field>
    </mat-cell>
  </ng-container> -->

  <!--Action column-->
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef> Action </th>
    <td mat-cell *matCellDef="let element"><mat-icon aria-hidden="false" >edit</mat-icon></td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> -->

<!-- <button mat-button color="primary" id="add-form" (click)="add()">Add book</button> -->
</div>

<div>
  <mat-icon aria-hidden="false" aria-label="Example home icon" (click)="toggle()" style="cursor: pointer">add</mat-icon>
</div>


<div *ngIf="show">
  <form class="example-form" name="inventory" id ="inventory"  method="post">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Book Name" [(ngModel)]="inventory.bookName" name="bookName" >  
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Author Name" [(ngModel)]="inventory.authorName" name="authorName">
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Category" [(ngModel)]="inventory.category" name="category">
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <input matInput placeholder="price" [(ngModel)]="inventory.bookPrice" name="bookPrice" pattern="[0-9]{0-4}">
    </mat-form-field>
    <button mat-button color="primary" id="add-book" (click)="addBook()">Add</button>
  </form>
  
</div>

