<div>
  <form>
    <div>
      <p align="center">Login Form </p>
      <div>
        <table border=1 align="center">
          <tr>
            <td>UserName :</td>
            <input type="text" name="usernmae" id="username"/></tr>
          <tr>
            <td>Password :</td>
            <input type="password" name="password" id="password"/></tr>

        </table>
      </div>
      <div align="center">
        <button routerLink="/home">Login</button>
      </div>
    </div>
  </form>
</div>
